body{
font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
font-size: 14px;
color: #000;
background: url(../image/body.png) repeat;
}
.title,.bcontent,.tab{text-shadow: 0px 1px 0 #DDD }
img{padding: 0;margin: 0;border:none;}
a{color:#A4A1A2; text-decoration: none;margin: 0;padding:0;}
a:ACTIVE{color:#3B5998;}
a:HOVER{color:#F60;}
a:VISITED{}

*{margin: 0;padding:0;}
h1,h2,h3{font-weight:normal;font-size:100%;}
ol,ul,li{list-style: none;}
em{font-style: normal;}
.left{float:left;}
.right{float: right;}
.c{
clear: both;
font-size: 1px;
height: 0;
line-height: 0;
visibility: hidden;
}
.block{width: 960px;margin: 0 auto;}
.shadow_r{
height: 20px;
}
.shadow{
height:20px;
line-height: 20px;
}
.toper{
padding: 0;
background: #333;
border-bottom: 1px solid #000;
width: 100%;
}
.login a{
color: #FFF;
display: block;
float: left;
padding: 0 10px;
height: 40px;
line-height: 40px;
}
.login a:HOVER{
background: #fff;
color: #F60;
}
.login{float:right;}
.login a{font-size:12px;}
.header{

}
.qingcms_logo{
width: 143px;
float: left;
display: inline;
}
.qingcms_logo a {
display: block;
width: 143px;
height: 39px;
line-height:39px;
font-size: 26px;
font-weight: bold;
color:#fff;
/* background: url(../image/logo.png) center center no-repeat; */
}
.main{margin-top:20px;min-height: 200px;}
.main_left{
float: left;
width: 638px;
}

.location a{color: #666;font-size: 12px;}
.location a:HOVER{text-decoration: underline;}
.main_right{float:right;width:300px;
}
.rightBox{
background: #FFF;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)!important;
border: 0!important;
border: 1px solid #E0E0E0;
}
.main_right h3.title{height:20px; border-bottom: 1px dashed #D4D4D4;text-align: left;padding: 8px 20px; }
.cate2{
text-align: center;
padding:10px;
}
.cate2 li{float: left;width:49%;padding: 4px 0;}
.cate2 li a{
padding: 2px 8px;
}
.cate2 li a:HOVER {
background: #ccc;
color: #666;
}
.cate2 li a.hover {
background: #666;
color: #FFF;
}
.footer{margin-top:10px;font-size:12px;text-align: left;padding: 6px 0 50px 0;color: #555;border-top: 1px solid #CCC;}
.footer a{color: #555;}
.footer a:HOVER{text-decoration: underline;}
a.close{
position: absolute;
right: 0;
top: 0;	
background:url(../image/close.gif);	
width: 17px;
height: 17px; 
background-position: 0 -85px;
overflow: hidden;
margin: 3px 5px 0 0;
padding:0;
}
a.close:HOVER{	
background-position: 0 -102px;
}
.Sysmessage{
background: #fff;
margin:80px auto;
width:520px;
border: 1px solid #CCC;
border-radius: 3px;
}
.Sysmessage .l_error{float: left;width: 80px;height: 100px;background: url(../image/error.gif) no-repeat 26px 20px ;}
.Sysmessage .l_success{float: left;width: 80px;height: 100px;background: url(../image/right.gif) no-repeat 26px 20px ;}

.Sysmessage .r{margin-left: 80px; height: 60px; padding:20px 0 20px 10px;line-height: 30px;}
.Sysmessage .tip a:HOVER{text-decoration: underline;}
.Sysmessage .msg{}

.SysInfo{
background: #fff;
margin:60px auto;
width:520px;
border: 1px solid #CCC;
border-radius: 3px;
padding: 10px;
}
.SysInfo .infotitle{
padding: 16px 0 16px 60px;
border-bottom: 1px solid #CCC;
margin-bottom: 10px;
background: url(../image/info.gif) no-repeat 10px 10px;
}
.SysInfo .back{margin-right: 10px;float: right;}
.SysInfo a.back:HOVER {text-decoration: underline;}

